.split-pane > .split-pane-divider {  
    -fx-padding: 0.0 0.15em 0.0 0.15em;  
} 

.text-area .content{
      -fx-background-color: black;
 }
 
.text-field {
	-fx-background-color: #68AFBC;
}
  
.text-area {
      -fx-text-fill: white;
      -fx-font-size: 20;
      -fx-font-family: "Arial";
  }
  
.tool-bar {
		-fx-background-color: #2F6D78;
}

#bt_connect {
	-fx-graphic:url(images/connect_button.png)
}

#bt_disconnect {
	-fx-graphic:url(images/disconnect_button.png)
}

#bt_addGraph {
	-fx-graphic: url(images/newGraph_icon.png) 
}

#graphArea {
	-fx-background-image: url(images/background.jpg)
}




